@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@300;400;500;700&display=swap');

/*font-family: 'Great Vibes', cursive;*/
/*font-family: 'Roboto', sans-serif;*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body
{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    background-color: gray;
    font-family: 'Roboto', sans-serif; 
}
a
{
    text-decoration: none;
    cursor: pointer;
}

ul,
li
{
    list-style: none;
}

/*header start*/

#header-top
{
    background: #21252e;
    padding: 12px 0;
    width: 100%;
}

.container
{
    max-width: 1140px;
    margin: auto;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-between;
}

.col-1
{
    flex: 0 0 50%;
    max-width: 50%;
    text-align: left;
}

.col-2
{
    flex: 0 0 50%;
    max-width: 50%;
    text-align: right;
}

.headet-text
{
    width: 40%;
    display: inline-block;
    text-align: center;

}

.headet-text a
{
    color: #fff;

}

.headet-text a i
{
    color: #fa573a;
    padding-right: 4px;
}

/*Header area*/

.navbar
{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding-top: 15px;
    background: transparent;
    margin-top: 65px;
}

.new-nav
{
    background: #fff;
    padding: 8px 20px;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar .new-nav .navbar-Brand
{
    color: #292929;
    font-size: 28px;
    font-weight: 700;
    transition: all linear .3s;

}

.navbar .new-nav .navbar-Brand:hover
{
    color: #131313;
}


.navbar .new-nav .navbar-Brand span
{
    color: #fa573a;
}

.menu-item
{
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    padding-right: 25px;
    margin-left: auto;
    padding-left: 0;
    margin-bottom: 0;
}

.navbar .menu-item .nav-link
{
    color:  #131313;
    font-size: 16px;
    transition: all linear .3s;
    position: relative;
    margin: 9px;
    display: block;
    padding: 0.5rem 1rem;

}

.navbar .menu-item .nav-link::after
{
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background: #fa573a;
    width: 0;
    height: 2px;
    transition: all linear .3s;
}


.navbar .menu-item .nav-link:hover
{
    color: #fa573a;
}


.navbar .menu-item .nav-link:hover::after,
.navbar .menu-item .nav-link:focus::after
{
    width: 50px;
}

.navbar .menu-item .nav-link.active
{
    color: #fa573a;
}

.slide-banner
{
    width: 100%;
    height: calc(100vh - 48px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay
{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

.banner-content
{
    height: 100%;

}

.banner-content .container
{
    height: 100%;
}

.banner-text
{
    position: relative;
    top: 200px;
    z-index: 2;
}

.banner-text h2
{
    font-size: 43px;
    color: #fff;
    margin-bottom: 0px;
    font-weight: 400;
    font-family: Impact;
}

.banner-text h4
{
    font-size: 27px;
    color: #fa573a;
    margin-top: 0;
    padding-bottom: 6px;
    padding-top: 1px;
    font-weight: 400;   
    text-transform: uppercase;
	font-family: Impact;
}

.banner-text p
{
    font-size: 16px;
    color:#fff;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-bottom: 3px;
    font-weight: 400;   
}

.ban-btn
{
    padding-top: 15px;
}

.ban-btn a
{
    border: 1px solid #fa573a;
    padding: 20px 15px;
    color: #fff;
    background: #fa573a;
    transition: all linear .3s;
    font-weight: 700;
}

.ban-btn a i
{
    font-size: 17px;
    padding-left: 4px;
}

.ban-btn a:hover
{
    background: none;
    color: #fa573a;
}

.social-icon
{
    padding-top: 25px;
}

.social-icon i
{
    font-size: 19px;
    color: #fff;
    padding-right: 19px;
    transition: all linear .3s;
}

.social-icon i:hover
{
    color: #fa573a;
}

.img1
{
    position: absolute;
    top: -300px;
    right: 800;
}

.head1
{
    font-size: 34px;
    color: #fa573a;  
    text-transform: uppercase;
    position: absolute;
    top: -320px;
    right: 200px;
}

.text1
{
    font-size: 40px;
	font-family: arial;
    color:white;
    margin-top: 0;
    margin-bottom:100px;
    margin-left:650px;
    padding-bottom:3px;  
    position:absolute;
    top:-250px;
    right:100px;
    text-align:center;
}

.m1{
	position:relative;
	height: 250px;
	width: 375px;
}



.head2
{
    font-size: 34px;
    color: white;  
    text-transform: uppercase;
    position: absolute;
    top:50px;
    right: 200px;
}

.sw{
	position: absolute;
	top: 100px;
	left: 75px;
	font-size: 40px;
	color:#fff;
	margin-top: 0;
	margin-bottom: 1rem;
	padding-bottom: 3px;
	font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}
.menu-btn1
{
    padding-top: 15px;
	position:absolute;
	top:212.5px;
	left:140px;
	border-radius: 2px;
}

.menu-btn1 a
{
    border: 1px solid #fa573a;
    padding:5px 5px;
    color: #fff;
    background: #fa573a;
    transition: all linear .3s;
    font-weight: 700;
}

.menu-btn1 a i
{
    font-size: 17px;
    padding-left: 4px;
}

.menu-btn1 a:hover
{
    background: none;
    color: #fa573a;
}

.pz{
	position: absolute;
	top: 100px;
	left: 505px;
	font-size: 40px;
	color:#fff;
	margin-top: 0;
	margin-bottom: 1rem;
	padding-bottom: 3px;
	font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

.menu-btn2
{
    padding-top: 15px;
	position:absolute;
	top:212.5px;
	left:525px;
	border-radius: 2px;
}

.menu-btn2 a
{
    border: 1px solid #fa573a;
    padding: 5px 5px;
    color: #fff;
    background: #fa573a;
    transition: all linear .3s;
    font-weight: 700;
}

.menu-btn2 a i
{
    font-size: 17px;
    padding-left: 4px;
}

.menu-btn2 a:hover
{
    background: none;
    color: #fa573a;
}

.brg{
    position: absolute;
    top: 100px;
    left:865px;
	font-size: 40px;
    color:#fff;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-bottom: 3px;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
	}
	
.menu-btn3
{
    padding-top: 15px;
	position:absolute;
	top:212.5px;
	left:910px;
	border-radius: 2px;
}

.menu-btn3 a
{
    border: 1px solid #fa573a;
    padding: 5px 5px;
    color: #fff;
    background: #fa573a;
    transition: all linear .3s;
    font-weight: 700;
}

.menu-btn3 a i
{
    font-size: 17px;
    padding-left: 4px;
}

.menu-btn3 a:hover
{
    background: none;
    color: #fa573a;
}

.sd{
    position: absolute;
    top: 350px;
    left: 135px;
	font-size: 40px;
    color:#fff;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-bottom: 3px;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
	}
	
.menu-btn4
{
    padding-top: 15px;
	position:absolute;
	top:472.5px;
	left:140px;
	border-radius: 2px;
}

.menu-btn4 a
{
    border: 1px solid #fa573a;
    padding: 5px 5px;
    color: #fff;
    background: #fa573a;
    transition: all linear .3s;
    font-weight: 700;
}

.menu-btn4 a i
{
    font-size: 17px;
    padding-left: 4px;
}

.menu-btn4 a:hover
{
    background: none;
    color: #fa573a;
}

.sld{
    position: absolute;
    top: 350px;
    left: 515px;
	font-size: 40px;
    color:#fff;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-bottom: 3px;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
	}
	
.menu-btn5
{
    padding-top: 15px;
	position:absolute;
	top:472.5px;
	left:525px;
	border-radius: 2px;
}

.menu-btn5 a
{
    border: 1px solid #fa573a;
    padding: 5px 5px;
    color: #fff;
    background: #fa573a;
    transition: all linear .3s;
    font-weight: 700;
}

.menu-btn5 a i
{
    font-size: 17px;
    padding-left: 4px;
}

.menu-btn5 a:hover
{
    background: none;
    color: #fa573a;
}
	
.dr{
    position: absolute;
    top: 350px;
    left: 880px;
	font-size: 40px;
    color:#fff;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-bottom: 3px;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
	}
	
.menu-btn6
{
    padding-top: 15px;
	position:absolute;
	top:472.5px;
	left:910px;
	border-radius: 2px;
}

.menu-btn6 a
{
    border: 1px solid #fa573a;
    padding: 5px 5px;
    color: #fff;
    background: #fa573a;
    transition: all linear .3s;
    font-weight: 700;
}

.menu-btn6 a i
{
    font-size: 17px;
    padding-left: 4px;
}

.menu-btn6 a:hover
{
    background: none;
    color: #fa573a;
}

.menu-btn7
{
    padding-top: 15px;
	position:absolute;
	top:600px;
	left:515px;
	border-radius: 2px;
}

.menu-btn7 a
{
    border: 1px solid #fa573a;
    padding: 15px 10px;
    color: #fff;
    background: #fa573a;
    transition: all linear .3s;
    font-weight: 700;
}

.menu-btn7 a i
{
    font-size: 17px;
    padding-left: 4px;
}

.menu-btn7 a:hover
{
    background: none;
    color: #fa573a;
}
.box1{
	height: 250px;
	width: 375px;
	margin:10px;
	padding:10px;
	background:white;
    border-radius: 25px;
	position: absolute;
	top: 0px;
    left: -11px;
}

.box2{
	height: 250px;
	width: 375px;
	margin:10px;
	padding:10px;
	background:white;
    border-radius: 25px;
	position: absolute;
	top: 0px;
    left: 374px;
}

.box3{
	height: 250px;
	width: 375px;
	margin:10px;
	padding:10px;
	background:white;
    border-radius: 25px;
	position: absolute;
	top: 0px;
    left: 759px;
}

.box4{
	height: 250px;
	width: 375px;
	margin:10px;
	padding:10px;
	background:white;
    border-radius: 25px;
	position: absolute;
	top: 260px;
    left: -11px;
}

.box5{
	height: 250px;
	width: 375px;
	margin:10px;
	padding:10px;
	background:white;
    border-radius: 25px;
	position: absolute;
	top: 260px;
    left: 374px;
}

.box6{
	height: 250px;
	width: 375px;
	margin:10px;
	padding:10px;
	background:white;
    border-radius: 25px;
	position: absolute;
	top: 260px;
    left: 759px;
}

.s1{
	height:200px;
	width: 350px;
	border-radius: 25px;
	position:absolute;	
	left:12.3px;
}


.s1text{
	position:absolute;
	top:175px;
	left:58px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

.s2text{
	position:absolute;
	top:175px;
	left:105px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

.s3text{
	position:absolute;
	top:175px;
	left:55px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

.s4text{
	position:absolute;
	top:175px;
	left:112.5px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

.s5text{
	position:absolute;
	top:175px;
	left:75px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

.s6text{
	position:absolute;
	top:175px;
	left:95px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}


.p1text{
	position:absolute;
	top:175px;
	left:95px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

.p2text{
	position:absolute;
	top:175px;
	left:100px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

.p3text{
	position:absolute;
	top:175px;
	left:100px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

.p4text{
	position:absolute;
	top:175px;
	left:125px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

.p5text{
	position:absolute;
	top:175px;
	left:90px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

.p6text{
	position:absolute;
	top:175px;
	left:75px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

.sd1text{
	position:absolute;
	top:175px;
	left:115px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}
.sd2text{
	position:absolute;
	top:175px;
	left:90px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}
.sd3text{
	position:absolute;
	top:175px;
	left:120px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}
.sd4text{
	position:absolute;
	top:175px;
	left:125px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}
.sd5text{
	position:absolute;
	top:175px;
	left:120px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}
.sd6text{
	position:absolute;
	top:175px;
	left:110px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

.sld1text{
	position:absolute;
	top:175px;
	left:20px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
	text-align:center;
}

.sld2text{
	position:absolute;
	top:175px;
	left:85px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}


.sld3text{
	position:absolute;
	top:175px;
	left:110px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

.sld4text{
	position:absolute;
	top:175px;
	left:75px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

.sld5text{
	position:absolute;
	top:175px;
	left:110px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

.sld6text{
	position:absolute;
	top:175px;
	left:95px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

.b1text{
	position:absolute;
	top:175px;
	left:85px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}
.b2text{
	position:absolute;
	top:175px;
	left:100px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}.b3text{
	position:absolute;
	top:175px;
	left:110px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}
.b4text{
	position:absolute;
	top:175px;
	left:110px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}
.b5text{
	position:absolute;
	top:175px;
	left:110px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}
.b6text{
	position:absolute;
	top:175px;
	left:110px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

.d1text{
	position:absolute;
	top:175px;
	left:75px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

.d2text{
	position:absolute;
	top:175px;
	left:138px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

.d3text{
	position:absolute;
	top:175px;
	left:138px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

.d4text{
	position:absolute;
	top:175px;
	left:110px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

.d5text{
	position:absolute;
	top:175px;
	left:150px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

.d6text{
	position:absolute;
	top:175px;
	left:110px;
	font-size: 20px;
    color:white;
    font-weight: 400; 
	font-family:Impact;
	text-shadow: 0 0 3px black, 0 0 5px black;
}
